$box-one: #fbffa7;
$box-two: #b1c5ff;
$box-three: #b6ffc0;
$box-four: #d5b3ff;
$highlight: #ff764d;
$highlight-two: #0000ff;
$dead-space: #F3F3F3;

:root {
    --highlight-one: #ff764d;
    --highlight-two: #0000ff;
    --accent-one: #fbffa7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $dead-space;
}

body {
    background-color: white;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    max-width: 1600px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.font-awesome-icon {
    font-size: 0.8rem;
}

///////////ABLETON STYLE NAVBAR START/////////////////
.navbar-ableton-style {

    .active-link {
        color: var(--highlight-one);
    }

    .highlight-link {
        color: var(--highlight-two);
    }

    .main-bar,
    .collapsed-menu {
        height: 4rem;
        display: flex;
        width: 100%;
        align-items: center;
        font-size: 1.3rem;
        justify-content: space-between;
        padding: 0 3rem;

        ul {

            li {
                padding: 0.9rem;
                font-weight: 500;

                .hidden-menu-toggle {
                    cursor: pointer;
                }
            }
        }

        .left-group {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;


            .navbar-logo-expanded {
                height: 80%;
            }

            .main-bar-menu {
                display: flex;
                padding-left: 1rem;
            }
        }


        .main-bar-sidemenu {
            display: flex;

            .login-menu-text {
                font-size: 1rem;
            }
        }
    }

    .collapsed-menu {
        justify-content: flex-start;
        display: none;

        .navbar-logo-collapsed {
            height: 80%;
        }

        .collapsed-menu-toggle {
            cursor: pointer;
            padding: 1.9rem;
        }
    }

    .hidden-bar {

        padding: 0 3rem 2rem 3rem;

        ul {

            li {
                padding-right: 1.5rem;
                font-size: 1.15rem;
                font-weight: 400;
            }

            li:not(:first-child) {
                padding-left: 1.5rem;
            }

            li:last-child {
                padding-right: 0;
            }
        }

        .hidden-bar-title {
            font-size: 1.8rem;
            font-weight: 500;
            padding: 2rem 0 1rem 0;
        }

        .hidden-bar-subtitle {
            font-weight: 500;
        }

        .hidden-bar-top-menu {
            display: flex;
        }

        .hidden-bar-bottom-menu {

            display: flex;
            line-height: 1.8rem;
        }
    }

    .sub-bar {
        height: 4rem;
        border-top: 0.2rem solid $dead-space;
        padding-left: 3rem;

        ul {

            li {
                padding-right: 1rem;
                font-weight: 500;
            }
        }

        .sub-bar-menu {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);

        }

    }

}

@media only screen and (max-width: 1300px) {
    .navbar-ableton-style {

        .main-bar,
        .collapsed-menu {
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            .main-bar-sidemenu {
                .login-menu-text {
                    font-size: 0.9rem;
                }
            }
        }

        .hidden-bar {
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            ul {
                li {
                    font-size: 1rem;
                }
            }

            .hidden-bar-title {
                font-size: 1.5rem;
            }
        }

        .sub-bar {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 0.9rem;
        }


    }
}

@media only screen and (max-width: 950px) {

    .navbar-ableton-style {
        position: relative;

        .collapsed-menu {
            display: flex;
            transition: 0.4s;
        }

        .highlight-link {
            color: inherit;
        }

        .--slide-up {
            transform: translateY(-110%);
        }

        .--negative {
            color: white;
            fill: white;
            background-color: var(--highlight-two);
        }

        .mobile-slide-group {
            position: absolute;
            width: 100vw;
            background-color: var(--highlight-two);
            color: white;
            z-index: 1;
            padding: 1rem 1rem;
            transition: transform 0.7s;

            .main-bar {
                flex-direction: column;
                align-items: flex-start;
                height: auto;
                padding: 0;

                .left-group {

                    ul {
                        padding: 0;
                        flex-direction: column;
                        align-items: flex-start;

                        li {
                            padding: 0.5rem 0;

                            .hidden-menu-toggle {
                                display: none;

                            }
                        }
                    }

                    .navbar-logo-expanded {
                        display: none;
                    }


                }

                .main-bar-sidemenu {
                    padding: 0;
                    flex-direction: column;
                    align-items: flex-start;

                    li {
                        padding: 0;

                        .hidden-menu-toggle {
                            display: none;

                        }
                    }
                }
            }

            .hidden-bar {
                flex-direction: column;
                padding: 0;

                .upper-hidden-bar,
                .lower-hidden-bar {
                    flex-direction: column;
                    padding: 0;

                    .hidden-bar-title {
                        font-size: 1.3rem;
                        padding: 1rem 0;
                    }

                    .hidden-bar-top-menu,
                    .hidden-bar-bottom-menu {
                        flex-direction: column;
                        padding: 0;

                        .hidden-bar-subtitle {
                            font-size: 1.1rem;
                        }

                        li {
                            padding: 0.3rem 0;
                            font-size: 0.9rem;
                        }
                    }
                }
            }

        }

    }

}

///////////ABLETON STYLE NAVBAR END/////////////////



//////////ABLETON STYLE HERO BEGIN//////////////////

.ableton-style-hero {
    height: calc(100vh - 8rem);
    margin-bottom: 4rem;

    .hero-image-container {
        height: 100%;
        justify-content: center;
        position: relative;
        display: flex;
        padding: 0 min(4vw, 4rem);

        .hero-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .hero-image-overlay {
            position: absolute;
            color: var(--highlight-one);
            font-size: 10rem;
            font-weight: 500;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
}

@media only screen and (max-width:780px) {
    .ableton-style-hero {
        margin-bottom: 2rem;

        .hero-image-container {
            .hero-image-overlay {
                font-size: 5rem;
            }
        }
    }
}

//////////ABLETON STYLE HERO END//////////////////


//////////ABLETON STYLE INFOBOX START/////////////


.ableton-style-infobox {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: 0 20%;

    .top-line {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0;
    }

    .bottom-line {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 1rem 0;
    }

}

@media only screen and (max-width:1000px) {
    .ableton-style-infobox {
        padding: 0 10%;
        margin: 1rem 0;

        .top-line {
            font-size: 1.2rem;
        }

        .bottom-line {
            font-size: 1rem;
        }
    }

}

/////////ABLETON STYLE INFOBOX END//////////////


/////////ABLETON STYLE TWO IMAGES START/////////

.ableton-style-two-images {
    position: relative;
    margin: 4rem 0;

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .image-one {
            padding: 10% 0 10% 10%;
            width: 50%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        .image-two {
            padding: 10%;
            width: 50%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }

    .geometric-background {
        position: absolute;
        height: 100%;
        width: 60%;
        right: 0;
        background-color: var(--accent-one);
        z-index: 0;
    }
}

@media only screen and (max-width:750px) {
    .ableton-style-two-images {
        margin: 1rem 0;
    }
}

/////////ABLETON STYLE TWO IMAGES END/////////


/////////ABLETON STYLE VIDEOBOX START/////////

.ableton-style-videobox {
    margin: 4rem 0;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .video-container {
        position: relative;

        .play-icon {
            position: absolute;
            color: white;
            font-size: 4.5rem;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0.7;
            transition: 0.2s;
            cursor: pointer;
        }

        .play-icon:hover {
            opacity: 1;
            font-size: 5rem;
        }

        .video-thumbnail {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .video-player {
            width: 100%;
        }

        .video-label {
            font-size: 0.9rem;
        }
    }

}

@media only screen and (max-width:1000px) {

    .ableton-style-videobox {
        margin: 1rem 0;
        padding: 0rem 2rem 2rem 2rem;

        .video-container {
            min-width: 90%;

            .play-icon {
                font-size: 4rem;
            }

            .play-icon:hover {
                font-size: 4.5rem;
            }
        }

    }
}

@media only screen and (max-width:750px) {
    .ableton-style-videobox {
        .video-container {
            .play-icon {
                font-size: 3rem;
            }

            .play-icon:hover {
                font-size: 3.5rem;
            }
        }
    }
}

/////////ABLETON STYLE VIDEOBOX END/////////


/////////ABLETON STYLE THREE IMAGES START/////////

.ableton-style-three-images {
    display: flex;
    flex-direction: row;
    max-height: 80vh;
    position: relative;

    .geometric-background {
        position: absolute;
        height: 100%;
        width: 60%;
        left: 0;
        background-color: var(--accent-one);
        z-index: 0;
    }

    .image-container-left {
        width: 40%;

        .top-image,
        .bottom-image {
            display: flex;
            height: 50%;
            width: 100%;
            overflow: hidden;
            justify-content: center;
            align-items: center;

            .image-one,
            .image-two {
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;

            }

            .image-one {
                padding-bottom: 2rem;
            }


        }
    }

    .image-container-right {
        width: 60%;

        .image-three {
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
        }

    }

    .image-container-left {
        padding: 10% 5% 10% 10%;
    }

    .image-container-right {
        padding: 15% 10% 15% 5%;
    }
}

/// /////////ABLETON STYLE THREE IMAGES END/////////